.participation__wrapper {
  background-color: #ffffff;
}
.participation__head {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 24px;
}
.participation__description {
  padding-left: 15px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.participation__benefit {
  display: block;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.participation__button {
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  line-height: 22px;
}
@media  (min-width: 768px) {
  .participation__wrapper {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 530px;
    padding: 70px;
    border: 1px solid;
    border-color: lighten($color, 15%);
  }
  .participation__head {
    width: 535px;
    padding: 0;
    margin-top: 0;
    text-align: left;
    font-size: 40px;
  }
  .participation__description {
    padding: 0;
    font-size: 16px;
  }
  .participation__benefit {
    padding: 0;
    margin-top: 35px;
    margin-bottom: 60px;
    text-align: left;
  }
  .participation__button {
    line-height: normal;
    &::after {
      right: 35px;
    }
  }
}
@media  (min-width: 1280px) {
  .participation {
    max-width: 1720px;
    padding-top: 65px;
    margin-top: 170px;
    margin-bottom: 100px;
    min-height: 775px;
    background-image: url("/img/bottle-fon.jpg");
    background-repeat: no-repeat;
    background-position: left;
  }
  .participation__wrapper {
    margin-left: 44%;
    outline: 20px solid #ffffff;
  }
}
