.pop-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pop-grid__headline {
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}
.pop-grid__photo-text {
  order: 1;
  height: 650px;
  width: 50%;

}
.pop-grid__props-container {
  order: 2;
  height: 650px;
  width: 50%;
}
