.symptoms-grid__headline {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.symptoms-grid__list {
  background-color: lighten($color, 45%);
}
.symptoms-grid__report {
  background-color: lighten($color, 45%);
}
@media  (min-width: 768px) {
  .symptoms {
    margin-bottom: 110px;
  }
  .symptoms-grid__report {
    background-color: #a4c58c;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .symptoms-grid__button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
@media (min-width: 1280px) {
  .symptoms {
    margin-bottom: 200px;
  }
  .symptoms-grid__container {
    width: 1170px;
    margin: 0 auto;
  }
  .symptoms-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .symptoms-grid__headline {
    text-align: left;
    padding-left: 0;
  }
  .symptoms-grid__list {
    position: relative;
    width: 100%;
  }
  .symptoms-grid__button {
    margin-left: 56%;
    margin-top: 20px;
  }
}
