.symptoms-grid__headline {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.symptoms-grid__list {
  background-color: lighten($color, 45%);
}
.symptoms-grid__report {
  background-color: lighten($color, 45%);
}
