body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  background-color: #ffffff;
  color: #2f2f2f;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@import "fonts";
@import "mixin";
@import "blocks/main-container";
@import "blocks/page-header";
@import "blocks/header-logo";
@import "blocks/header-tel";
@import "blocks/top-photo";
@import "blocks/top-information";
@import "blocks/top-text";
@import "blocks/top-form";
@import "blocks/button";
@import "blocks/input";
@import "blocks/proof";
@import "blocks/symptoms";
@import "blocks/symptoms-grid";
@import "blocks/pop";
@import "blocks/pop-grid";
@import "blocks/history";
@import "blocks/history-grid";
@import "blocks/quote";
@import "blocks/composition";
@import "blocks/consist";
@import "blocks/review";
@import "blocks/participation";
@import "blocks/warranty";
@import "blocks/footer-logo";
@import "blocks/footer-link";
@import "blocks/footer-tel";
@import "blocks/page-footer";
